.root {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 52px;

  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  .nav {
    display: flex;
    gap: 40px;
    cursor: pointer;

    .nav_item {
      color: #121212;

      &:active {
        text-decoration: underline;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
}
