.root {
  max-width: 602px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background: #fff;
  border-radius: 12px;

  .header {
    display: flex;
    gap: 16px;
    align-items: center;

    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 24px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    img {
      max-width: 68px;
    }
  }

.title {
  font-size: 18px;
    font-weight: 700;
}

  .body {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .reactions {
      display: flex;
      gap: 40px;

      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #807e7e;

      .like {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
      }

      .dislike {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        svg {
          rotate: 180deg;
        }
      }

      .comments {
        display: flex;
        align-items: center;
        gap: 9px;

        span {
          margin-left: -5px;
        }
      }
    }

    .views {
      display: flex;
      align-items: center;
      gap: 9px;
    }
  }

  .comments_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #e4e4e4;
    padding: 10px;
    border-radius: 12px;

    .comment {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: #fff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 10px;
      align-items: flex-start;

      h4 {
        font-weight: 700;
      }
    }

    .comment_like {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #e4e4e4;
      border-radius: 25px;
      padding: 3px 10px;
    }
  }
}
